*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-image: none;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
    transition: 0.4s ease;
}
.nav {
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    text-align: end;
    justify-content: space-between;

}
ul{
    margin-top: -2%;

}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    
}
ul li a:hover{
    color: red;
}
.content{
    margin-left: 7%;
    margin-top: 6%;

}
.content h1{
    font-size: 65px;
    color: rgb(36,32,30);

}
.content h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.content span{
    color: chocolate;
}
.content a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
}
.content a:hover{
    background: chocolate;
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    transition: left 2s ease;

}
.image:hover .girl{
    left: 55%;
}
.icons a img{
    width: 20px;
    height: 20px;
    margin-left: 50px;
    transition: right 1s ease;
}
.icons a img:hover{
    left: 20%;
}

